<tr class="small trHeightLight-hover">
    <td class="border"><%- count %></td>
    <td class="border"><%- fundRescName %></td>
    <td class="border"><%- costName %></td>
    <td class="border"><%- costNo %></td>
    <td class="border"><%- entpName %></td>
    <td class="border"><%- chargeUserName %></td>
    <td class="border"><%- settlePrice %></td>
    <td class="border"><%- lastPayablePrice %></td>
    <td class="border"><%- payableStatus %></td>
    <td class="border">
        <a class="confirm-hover" data-type="balance">结算</a>
        <div class="icon-line"></div>
        <a class="confirm-hover" data-type="history">历史</a>
        <div class="icon-line"></div>
        <a class="confirm-hover" data-type="approval">审批</a>
    </td>
</tr>