<%- include('../layout/header') %>
<div class="container PageAttentionMain">
    <div class="span-left">
        <%- include('./nav') %>
    </div>
    <div class="span-right">
        <div class="container-list">
            <div class="container-header">
                <div class="common-header">
                    <% if(type === 'locale-attention'){ %>
                    <div class="search-form">
                        <span class="common-title">关注工程</span>
                        <select class="preState">
                            <option value="0">全部</option>
                            <option value="1">未开工</option>
                            <option value="2">在建</option>
                            <option value="3">停工</option>
                            <option value="4">竣工</option>
                            <option value="5">质保</option>
                        </select>
                        <input style="padding-left: 5px;" type="text" class="keyword btn-fine-adj1" placeholder="项目部名称查询" />
                        <button style="line-height: 28px;" id="employeeSearch" class="btn delete-active">查询</button>
                    </div>
                    <% } %>
                    <% if(type === 'locale-manager' || type === 'locale-schedule' ||  type === 'locale-all'){ %>
                    <div class="search-form" data-time="<%- time %>" id="timeType">
                        <% if(type === 'locale-all'){ %>
                        <span class="common-title">全部</span>
                        <% } %>
                        <% if(type === 'locale-manager'){ %>
                        <span class="common-title">安全文明</span>
                        <% } %>
                        <% if (type === 'locale-schedule'){ %>
                        <span class="common-title">质量进度</span>
                        <% } %>
                        <input style="padding-left: 5px;" type="text" class="noticeTitle btn-fine-adj1" placeholder="标题关键字查询" />
                        <!--<input style="padding-left: 5px;" type="text" class="keyword btn-fine-adj1" placeholder="项目部名称查询" />-->
                        <select style="padding-left: 5px;" type="checkbox" class="keyword">
                            <option value="">请选择项目部</option>
                        </select>
                        <button style="line-height: 30px;" id="employeeSearch" class="btn delete-active">查询</button>
                    </div>
                    <div style="padding-left: 189px;" class="search-result allReportBtn">
                        <div class="item active" data-id="0">全部</div>
                        <div class="item" data-id="1">今日</div>
                        <div class="item" data-id="2">本周</div>
                        <div class="item" data-id="3">本月</div>
                    </div>
                    <% } %>
                    <% if(type === 'locale-detail'){ %>
                    <span style="margin: 0;" class="span-btn background-list-gray"
                          data-type="<%- navType %>" data-time="<%- time %>" id="callback">返回</span>
                    <span class="span-btn background-list-gray" style="margin-left: 10px" id="cancel">撤销</span>
                    <% } %>
                </div>
                <div id="noInfoLocaleManager_main" class="container-list-warp">
                    <%  if(type === 'locale-attention'){ %>
                    <%- include('./localeAttention') %>
                    <% }else if(type === 'locale-all'){ %>
                    <%- include('./localeManager') %>
                    <% }else if(type === 'locale-manager'){ %>
                    <%- include('./localeManager') %>
                    <% }else if(type === 'locale-detail'){ %>
                    <%- include('./localeManagerDetail') %>
                    <% } else if (type === 'locale-schedule'){ %>
                    <%- include('./localeManager') %>
                    <% } %>
                </div>
                <div class='noInfo' id='noInfoLocaleManager' style="display: none;">
                    <div class="icon-uninformed"></div>
                    <p>没有符合条件的信息！</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/dist/locale.js"></script>
<%- include('../layout/footer') %>
