<tr class="small">
    <td class="border"><%- count %></td>
    <td class="border"><%- name %></td>
    <td class="border"><%- mtrlTypeName %></td>
    <td class="border"><%- mtrlName %></td>
    <td class="border"><%- specBrand %></td>
    <td class="border"><%- unit %></td>
    <td class="border"><%- planCount %></td>
    <td class="border"><%- mtrlBudPrice %></td>
    <td class="border"><%- planTotalMoney %></td>
    <td class="border"><%- planRemark %></td>
    <td class="border exception" style="color: #de6d0b;"></td>
</tr>