<tr class="small">
    <td class="border"><%- count %></td>
    <td class="border"><%- mtrlName %></td>
    <td class="border"><%- specBrand %></td>
    <td class="border"><%- unit %></td>
    <td class="border"><%- prchCount %></td>
    <td class="border"><%- prchPrice %></td>
    <td class="border"><%- prchTotalMoney %></td>
    <td class="border"><%- entprName %></td>
    <td class="border"><%- prchPlace %></td>
    <td class="border"><%- prchTime %></td>
    <td class="border"><%- checkCount %></td>
    <td class="border exception" style="color: #de6d0b;"></td>
</tr>