<tr class="small">
    <td class="border"><%- count %></td>
    <td class="border"><%- subProjName %></td>
    <!--<td class="border"><%- mtrlTypeName %></td>-->
    <td class="border"><%- mtrlName %></td>
    <td class="border"><%- specBrand %></td>
    <td class="border"><%- unit %></td>
    <td class="border"><%- bidCount %></td>
    <td class="border"><%- bidPrice %></td>
    <td class="border"><%- bidTotalMoney %></td>
    <td class="border"><%- bidPlace %></td>
    <td class="border"><%- entprName %></td>
    <td class="border"><%- bidTaxType %></td>
    <td class="border"><%- bidRemark %></td>
    <td class="border exception" style="color: #de6d0b;"></td>
</tr>